@import url(http://fonts.googleapis.com/css?family=Geostar+Fill);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.application{
	background : black;
	color: white;
	padding: 10px;



	.counter{
		font-family: 'Geostar Fill', cursive;
		font-size: 200px;
		font-weight: bold;
		color: #39ff11;
		text-align: right;
		text-shadow: #39ff11 0 0 100px;
	}

	.reset-button button{
		&:hover{
			background-color: #ff231c;
		}

		font-family: Arial Black;
		background: red;
		border: none;
		color: white;
		width: 100%;
		box-shadow: black inset;
		font-size: 50px;
	}
}